/*默认属性*/
*{
	margin: 0;
	padding: 0;
}
body,html{
	width: 100%;
	font-family: "微软雅黑";
	/*background-color: #000;*/
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
    display: block;
}
a{
	font-family: "微软雅黑";
	text-decoration: none;
	display: block;
	color: #444;
}
ul{
	display: block;
	list-style: inside none;
}
nav{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
}
.rdbox{
	transition: 0.5s all ease-in-out;
}
/*字体*/
@font-face {
	font-family:"Winterqing Hei";
	src: url(../font/Hiragino Sans GB W3.otf);
}
/*电脑端*/
@media screen and (min-width:775px ) {
	/*导航条*/
	nav{
		width: 100%;
		height: 60px;
		background-color: #000;
		transition: all 1s ease;
	}
	nav .big-logo{
		height: 60px;
		width: 70px;
		float: left;
		margin: 0 15px;
		vertical-align: middle;
	}
	nav .big-logo a{
		padding: 17.5px 1px;
		font-size: 22px;
		color: #fff;
	}
	nav .nav-bar{
		margin-left: 10px;
		width: 500px;
		height: 60px;
		float: left;
	}
	nav .nav-bar ul{
		width: 380px;
		height: 60px;
	}
	nav .nav-bar ul li{
		float: left;
		padding: 23.5px 5px;
	}
	nav .nav-bar ul li a{
		font-size: 13px;
		color: #fff;
	}
	nav .login-resign{
		height: 60px;
		width: 90px;
		float: right;
	}
	nav .login-resign div{
		float: left;
		height: 20px;
		width: 26px;
		padding: 23.5px 5px;
	}
	nav .login-resign div a{
		font-size: 13px;
		color: #fff;
	}
	nav .item-btn{
		display: none;
	}
@media screen and (min-width:775px ) {
	
	}
	/*轮播器*/
ul{
	list-style: none;
	}
.container{
	position: relative;
	margin-bottom: 20px;
	width: 100%; 
	margin: 0 auto; 
	margin-top: 20px; 
	z-index: 1;
	
}
.img{
	
	width:100%; 
	overflow: hidden; 
	position: relative;
	}
.nav{
	width: 600%; 
	position: relative; 
	left: 0px; top: 0; 
	z-index: 9; 
	animation: myfirst 10s infinite; 
	-webkit-animation: myfirst 10s infinite; 
	-0-animation: myfirst 10s infinite; 
	-moz-animation: myfirst 10s infinite;}
.nav li{
	width: 16.66666%;
	float: left;
	}
.nav li img{
	width: 100%; 

	}
@keyframes myfirst {
	0%   {left: 0px;}
	14.666666%   {left: 0px;}
	16.666666%   {left: -100%;}
	31.333333%   {left: -100%;}
	33.333333%   {left: -200%;}
	47.999999%   {left: -200%;}
	49.999999%   {left: -300%;}
	64.666666%   {left: -300%;}
	66.666666%   {left: -400%;}
	81.333333%   {left: -400%;}
	83.333333%   {left: -500%;}
	98.000000%   {left: -500%;}
	100.00000%   {left: 0%;}
}

@-o-keyframes myfirst {
	0%   {left: 0px;}
	14.666666%   {left: 0px;}
	16.666666%   {left: -100%;}
	31.333333%   {left: -100%;}
	33.333333%   {left: -200%;}
	47.999999%   {left: -200%;}
	49.999999%   {left: -300%;}
	64.666666%   {left: -300%;}
	66.666666%   {left: -400%;}
	81.333333%   {left: -400%;}
	83.333333%   {left: -500%;}
	98.000000%   {left: -500%;}
	100.00000%   {left: 0%;}
}

@-moz-keyframes myfirst {
	0%   {left: 0px;}
	14.666666%   {left: 0px;}
	16.666666%   {left: -100%;}
	31.333333%   {left: -100%;}
	33.333333%   {left: -200%;}
	47.999999%   {left: -200%;}
	49.999999%   {left: -300%;}
	64.666666%   {left: -300%;}
	66.666666%   {left: -400%;}
	81.333333%   {left: -400%;}
	83.333333%   {left: -500%;}
	98.000000%   {left: -500%;}
	100.00000%   {left: 0%;}
}

@-webkit-keyframes myfirst{
	0%   {left: 0px;}
	14.666666%   {left: 0px;}
	16.666666%   {left: -100%;}
	31.333333%   {left: -100%;}
	33.333333%   {left: -200%;}
	47.999999%   {left: -200%;}
	49.999999%   {left: -300%;}
	64.666666%   {left: -300%;}
	66.666666%   {left: -400%;}
	81.333333%   {left: -400%;}
	83.333333%   {left: -500%;}
	98.000000%   {left: -500%;}
	100.00000%   {left: 0%;}
}
	/*ZEALER出品*/
	.zealer-produce{
		width: 96%;
		height: 610px;
		max-width: 1100px;
		min-width: 775px;
		max-height: 610px;
		min-height: 430px;
		margin: 10px auto;
	}
	.zealer-produce .zealer-produce-title{
		height: 30px;
		width: 100%;
		float: left;
	}
	.zealer-produce .zealer-produce-title .zealer-big-logo{
		width: 125px;
		height: 30px;
		font-size: 22px;
		float: left;
		padding: 5px 0;
	}
	.zealer-produce .zealer-produce-title .zealer-big-logo a{
		color: #444;
	}
	.zealer-produce .zealer-produce-title .zealer-produce-title-nav-bar{
		width: 570px;
		height: 30px;
		float: left;
		padding: 12px 0 0;
	}
	.zealer-produce-title-nav-bar li{
		float: left;
		padding: 0 5px;
	}
	.zealer-produce-title-nav-bar li a{
		font-size: 14px;
		color: #444;
	}
	.zealer-produce-wrapper{
		width: 100%;
		height: auto;
		float: left;
	}
	.zealer-produce-wrapper-box{
		padding: 1% 0;
		height: 48%;
		width: 100%;
	}
	.zealer-produce-wrapper-box div{
		height: 100%;
		width: 32%;
		text-align: center;
	}
	.zealer-produce-wrapper-box div a img{
		width: 100%;
	}
	.zealer-produce-wrapper-box div a {
		color: #444;
	}
	.zealer-produce .zealer-produce-animation-left{
		position: absolute;
		top: 45%;
		left: 0;
		color: transparent;
		transition: 0.5s ease all; 
	}
	.zealer-produce .zealer-produce-animation-right{
		position: absolute;
		top: 45%;
		right: 0;
		color: transparent;
		transition: 0.5s ease all; 
	}
	.zealer-produce .zealer-produce-animation-middle{
		position: absolute;
		bottom: 20%;
		left: 50%;
		width: 40px;
		height: 20px;
		font-size: 18px;
		text-align: center;
		margin-left: -20px;
		color: transparent;
		transition: 0.5s ease all; 
	}
	.zealer-produce-animation-base{
		transition: 0.5s ease all; 
	}
	.zealer-produce-animation-base:hover  .zealer-produce-animation-left{
	 	transform: translateX(50%);
	 	color: #FFFFFF;
	}
	.zealer-produce-animation-base:hover  .zealer-produce-animation-right{
	 	transform: translateX(-50%);
	 	color: #FFFFFF;
	}
	.zealer-produce-animation-base:hover  .zealer-produce-animation-middle{
	 	transform: translateY(-350%);
	 	color: #FFFFFF;
	}
	.zealer-produce-wrapper-box-left{
		float: left;
		position: relative;
	}
	.zealer-produce-wrapper-box-right{
		float: right;
		position: relative;
	}
	.zealer-produce-wrapper-box-middle{
		margin: 0 auto;
		position: relative;
	}
	/*精彩推荐&全民评测*/
	.recommend-test{
		width: 96%;
		height: 370px;
		max-width: 1100px;
		min-width: 775px;
		max-height: 370px;
		min-height: 315px;
		margin: 10px auto;
	}
	.recommend{
		width: 49%;
		float: left;
	}
	.recommend a{
		display: block;
		color: #444;
	}
	.recommend-title{
		height: 30px;
		width: 100%;
	}
	.recommend-title .recommend-title-logo{
		float: left;
		width: 90px;
		height: 30px;
		font-size: 22px;
	}
	.recommend .recommend-wrapper{
		width: 100%;
		height: auto;
		margin: 10px 0;
	}
	.recommend .recommend-img-area{
		position: relative;
	}
	.recommend-img-area img{
		width: 100%;
	}
	.recommend .recommend-wrapper .recommend-img .recommend-img-title{
		display: block;
		position: absolute;
		bottom: 10px;
		left: 5px;		
		width: 100%;
		height: 16px;
		color: #FFFFFF;
		font-weight: bold;
	}
	.recommend .recommend-list ul,.test .test-list ul{
		display: block;
		margin: 5px 0;
		width: 100%;
		height: auto;
		list-style: inside disc;
	}
	.recommend .recommend-list li{
		margin: 10px 0;
	}
	.recommend .recommend-list li span{
		float: right;
	}
	
	/*TEST*/
	.test{
		width: 49%;
		float: right;
	}
	.test a{
		display: block;
		color: #444;
	}
	.test-title{
		height: 30px;
		width: 100%;
	}
	.test-title .test-title-logo{
		float: left;
		width: 90px;
		height: 30px;
		font-size: 22px;
	}
	.test .test-wrapper{
		width: 100%;
		margin: 10px 0;
		height: auto;
	}
	.test .test-img-area{
		position: relative;
	}
	.test-img-area img{
		width: 100%;
	}
	.test .test-list ul{
		display: block;
		width: 100%;
		height: auto;
		margin: 5px 0;
	}
	.test .test-list li{
		margin: 10px 0;
	}
	.test .test-list li span{
		float: right;
	}
	.test .test-wrapper .test-img .test-img-title{
		display: block;
		position: absolute;
		bottom: 10px;
		left: 5px;		
		width: 100%;
		height: 16px;
		color: #FFFFFF;
		font-weight: bold;
	}
	/*Z友生活*/
	.zealer-life{
		width: 96%;
		height: 150px;
		max-width: 1100px;
		min-width: 775px;
		max-height: 200px;
		min-height: 141px;
		margin: 10px auto;
	}
	.zealer-life .zealer-life-big-logo a,.zealer-life .zealer-life-nav-bar a{
		color: #444;
	}
	.zealer-life-title{
		width: 100%;
		height: 30px;
	}	
	.zealer-life-title .zealer-life-big-logo{
		width: 80px;
		font-size: 22px;
		float: left;
	}
	.zealer-life-title .zealer-life-nav-bar{
		float: left;
		width: 400px;
		height: 24px;
		padding-top: 8px;
		margin-left: 5px;
	}
	.zealer-life-title .zealer-life-nav-bar ul li{
		float: left;
		margin: 0 5px;
		font-size: 14px;
	}
	.zealer-life .zealer-life-wrapper{
		width: 100%;
		padding: 1% 0;
		height: auto;
	}
	.zealer-life .zealer-life-wrapper-left{
		width: 49%;
		float: left;
	}
	.zealer-life .zealer-life-wrapper-right{
		width: 49%;
		float: right;
	}
	.zealer-life-wrapper div div a img{
		width: 100%;
	}
	.zealer-life-wrapper-left1{
		width: 49%;
		float: left;
	}
	.zealer-life-wrapper-left2{
		width: 49%;
		float: right;
	}
	.zealer-life-wrapper-right1{
		width: 49%;
		float: left;
	}
	.zealer-life-wrapper-right2{
		width: 49%;
		float: right;
	}
	/*SECONDHAND&FIX*/
	.secondhand-fix{
		width: 96%;
		height:510px;
		max-width: 1100px;
		min-width: 775px;
		max-height: 510px;
		min-height: 360px;
		margin: 10px auto;
	}
	.secondhand-fix a{
		color: #444;
		display: block;
	}
	.secondhand{
		width: 66.07%;
		height: 100%;
		float: left;
	}
	.secondhand-title{
		width: 100%;
		height: 30px;
	}
	.secondhand-title .secondhand-title-big-logo{
		float: left;
		height: 30px;
		width: 90px;
		font-size: 22px;
	}
	.secondhand-title .secondhand-title-nav-bar{
		width: 90px;
		height: 30px;
		float: left;
		margin-left: 5px;
	}
	.secondhand-title .secondhand-title-nav-bar a{
		margin-top: 8px;
	}
	.secondhand-title .secondhand-title-nav-bar ul li{
		float: left;
		margin: 0 5px;
		font-size: 14px;
	}
	.secondhand .secondhand-wrapper{
		width: 100%;
		height: 94.12%;
	}
	.secondhand .secondhand-wrapper .secondhand-wrapper1,.secondhand .secondhand-wrapper .secondhand-wrapper2{
		width: 100%;
		height: 49%;
	}
	.secondhand .secondhand-wrapper div div a{
		width: 100%;
		height: 100%;
	}
	.secondhand .secondhand-wrapper div div a img{
		width: 100%;
		height: 100%;
	}
	.secondhand .secondhand-wrapper .secondhand-wrapper1-left{
		float: left;
		width: 49%;
		height: 100%;
	}
	.secondhand .secondhand-wrapper .secondhand-wrapper1-right{
		float: right;
		width: 49%;
		height: 100%;
	}
	.secondhand .secondhand-wrapper .secondhand-wrapper2{
		margin-top: 1.5%;
	}
	.secondhand .secondhand-wrapper .secondhand-wrapper2-left{
		float: left;
		width: 49%;
		height: 100%;
	}
	.secondhand .secondhand-wrapper .secondhand-wrapper2-right{
		float: right;
		width: 49%;
		height: 100%;
	}
	/*FIX*/
	.fix{
		margin-left: 1.79%;
		width: 32.14%;
		height: 100%;
		float: left;
		background-color: white;
	}
	.fix-title{
		width: 100%;
		height: 30px;
	}
	.fix-title .fix-title-big-logo{
		width: 45px;
		height: 30px;
		font-size: 22px;
	}
	.fix .fix-wrapper{
		width: 100%;
		height: 94.12%;
	}
	.fix .fix-wrapper .fix-wrapper-img{
		width: 100%;
		height: 49%;
	}
	.fix .fix-wrapper .fix-wrapper-img a{
		width: 100%;
		height: 100%;
	}
	.fix .fix-wrapper .fix-wrapper-img a img{
		width: 100%;
		height: 100%;
	}
	.fix-wrapper .fix-wrapper-select{
		width: 93%;
		height: 48%;
		margin: 2% auto;
	}
	.fix-wrapper input{
		width: 99%;
	}
	.fix-wrapper select{
		width: 100%;	
	}
	.fix-wrapper .fix-wrapper-select div{
		height: 15.39%;
		margin: 3% 0;
	}
	.fix-wrapper div input,.fix-wrapper div select{
		height: 100%;
	}
	.fix-wrapper-text{
		margin: 0;
	}
	.fix .fix-wrapper .fix-submit-btn{
		background-color: #00b06d;
		border: none;
		margin: 2% 0;
		width: 100%;
		color: #fff;
	}
	/*评测工具*/
	.testtools{
		width: 96%;
		height:620px;
		max-width: 1100px;
		min-width: 775px;
		max-height: 550px;
		min-height: 430px;
		margin: 10px auto;
	}
	.testtools a{
		text-align: center;
	}
	.testtools .phoneImg{
		width: 80%;
		height: 80%;
		margin: 0 auto;
		max-height: 85%;
	}
	.testtools .testtools-wrapper .testtools-wrapper-phoneImg img{
		width: 100%;
		height: 100%;
		max-width: 260px;
	}
	.testtools .testtools-title{
		width: 100%;
		height: 30px;
	}
	.testtools .testtools-title .test-title-big-logo{
		width: 100px;
		height: 30px;
		font-size: 22px;
		float: left;
	}
	.testtools .testtools-wrapper{
		width: 100%;
		height: 91%;
		margin: 2% 0;
	}
	.testtools .testtools-wrapper .testtools-wrapper-phoneImg{
		width: 67%;
		height: 100%;
		float: left;
	}
	.testtools .testtools-wrapper .testtools-wrapper-phoneImg .testtools-wrapper-phoneImg-phone1,
	.testtools .testtools-wrapper .testtools-wrapper-phoneImg .testtools-wrapper-phoneImg-phone2,
	.testtools .testtools-wrapper .testtools-wrapper-phoneImg .testtools-wrapper-phoneImg-phone3,
	.testtools .testtools-wrapper .testtools-wrapper-phoneImg .testtools-wrapper-phoneImg-phone4{
		border: 1px solid #DDDDDD;
	}
	.testtools .testtools-wrapper .testtools-wrapper-phoneImg1,
	.testtools .testtools-wrapper .testtools-wrapper-phoneImg2{
		width: 100%;
		height: 48%;
	}
	.testtools .testtools-wrapper .testtools-wrapper-phoneImg2{
		margin-top: 2%;
	}
	.testtools .testtools-wrapper .testtools-wrapper-phoneImg1 .testtools-wrapper-phoneImg-phone1,.testtools .testtools-wrapper  .testtools-wrapper-phoneImg-phone3
	{
		width: 49%;
		height: 100%;
		float: left;
	}
	.testtools .testtools-wrapper .testtools-wrapper-phoneImg1 .testtools-wrapper-phoneImg-phone2,.testtools .testtools-wrapper  .testtools-wrapper-phoneImg-phone4
	{
		width: 49%;
		height: 100%;
		float: right;
	}
	.testtools .testtools-selectmodel{
		width: 30%;
		height: 100%;
		float: right;
	}
	.testtools .testtools-selectmodel-title{
		width: 100%;
		height: 30px;
	}
	.testtools .testtools-selectmodel-title-biglogo span{
		display: inline;
		float: left;
		height: 26px;
		width: 3px;
		background-color: #007efd;
	}
	.testtools .testtools-selectmodel-title-biglogo a{
		font-size: 20px;
		text-align: left;
		float: left;
	}
	.testtools .testtools-selectmodel-img{
		width: 100%;
		height: 39%;
	}
	.testtools .testtools-selectmodel-img img{
		height: 100%;
		text-align: right;
		margin-left: 40%;
	}
	.testtools .testtools-selectmodel-selectoption{
		width: 100%;
		height: 52%;
	}
	.testtools .testtools-selectmodel-selectoption div{
		height: 15.4%;
		margin: 3% 0;
		vertical-align: middle;
	}
	.testtools .testtools-selectmodel-selectoption select{
		width: 100%;
		height: 100%;
	}
	.testtools .testtools-selectmodel-selectoption input{
		width: 100%;
		height: 100%;
		background-color: #007efd;
		border: none;
	}
	/*实验室*/
	.lab{
		width: 96%;
		height:620px;
		max-width: 1100px;
		min-width: 775px;
		max-height: 660px;
		min-height: 465px;
		margin: 10px auto;
	}
	.lab .lab-title{
		width: 100%;
		height: 30px;
	}
	.lab .lab-title-biglogo{
		width: 70px;
		font-size: 22px;
		height: 30px;
		float: left;
	}
	.lab .lab-title-nav-bar{
		width: 300px;
		height: 30px;
		float: left;
	}
	.lab .lab-title-nav-bar ul li{
		float: left;
		margin: 0 5px;
		font-size: 14px;
		height: 19px;
		padding-top: 8px;
	}
	.lab .lab-wrapper{
		width: 100%;
		height: 93.94%;
	}
	.lab .lab-wrapper .lab-wrapper1,.lab .lab-wrapper .lab-wrapper2{
		width: 100%;
		height: 49%;
	}
	.lab .lab-wrapper .lab-wrapper1 .lab-wrapper1-left,.lab .lab-wrapper .lab-wrapper2 .lab-wrapper2-left{
		width: 49%;
		height: 100%;
		float: left;
	}
	.lab .lab-wrapper .lab-wrapper1 .lab-wrapper1-right,.lab .lab-wrapper .lab-wrapper2 .lab-wrapper2-right{
		width: 49%;
		height: 100%;
		float: right;
	}
	.lab a{
		width: 100%;
		text-align: center;
	}
	.lab img{
		width: 100%;
	}
	.lab-animation-base{
		position: relative;
	}
	.lab-animation-base:hover .lab-animation-left{
		transform: translateX(300%);
	 	color: #FFFFFF;
	}
	
	.lab-animation-base:hover .lab-animation-right{
		transform: translateX(-300%);
	 	color: #FFFFFF;
	}
	.lab-animation-base:hover .lab-animation-middle{
		transform: translateY(-350%);
	 	color: #FFFFFF;
	}
	.lab-animation-left{
		position: absolute;
		top: 40%;
		left: 10%;
		color: transparent;
		transition: 0.5s ease all; 
	}
	.lab-animation-right{
		position: absolute;
		top: 40%;
		color: transparent;
		right: 10%;
		transition: 0.5s ease all; 
	}
	.lab-animation-middle{
		position: absolute;
		bottom: 30%;
		left: 50%;
		width: 40px;
		height: 20px;
		font-size: 18px;
		text-align: center;
		margin-left: -20px;
		color: transparent;
		transition: 0.5s ease all; 
	}
	/*FOOT-ITEM*/
	.foot-item{
		width: 96%;
		height:165px;
		max-width: 1100px;
		min-width: 775px;
		max-height: 165px;
		min-height: 130px;
		margin: 10px auto;
		padding-bottom: 1%;
		border-bottom: 2px #eee solid;
	}
	.foot-item .foot-item-box{
		width: 20%;
		height: auto;
		float: left;
	}
	.foot-item .foot-item-box{
		text-align: left;
	}
	.foot-item .foot-item-box .foot-item-title{
		width: 100%;
		height: 40px;
		font-size: 20px;
		padding-left: 20%;
	}
	.foot-item .foot-item-box ul li {
		margin: 5.5% 0;
		padding-left: 20%;
	}
	/*友情链接*/
	.friend-link{
		width: 100%;
		height:90px;
		max-width: 1100px;
		min-width: 775px;
		max-height: 120px;
		margin: 10px auto;
		padding-bottom: 50px;
		border-bottom: 2px #eee solid;
	}
	.friend-link a{
		display: inline-block;
		text-align: center;
		width: 97px;
		height: 21px;
		margin: 1% 0;
	}
	.friend-link .friend-link-wrapper{
		width: 100%;
		height: auto;
	}
	.friend-link .friend-link-left{
		width: 12%;
		height: auto;
		float: left;
	}
	.friend-link .friend-link-right{
		width: 88%;
		float: right;
	}
	.friend-link .friend-link-right a{
		height: auto%;	
		text-align: left;
	}
	/*COPYRIGHT*/
	.copyright{
		width: 100%;
		height:30px;
		max-width: 1100px;
		min-width: 775px;
		margin: 10px auto;
	}
	.copyright-wrapper{
		width: 60%;
		margin: 0 auto;
	}
}
